### 0. Imports

In [428]:
import pandas as pd
import numpy as np
from unidecode import unidecode

### 1. Introduction to this notebook

# 2. Transformation

## 2.0 Airports

Change column names to lowercase

In [429]:
airports = pd.read_csv("../data/airport_codes/countries_airports.csv", index_col=0)
airports.head()

,country,city,city_entityId,airport_skyId,airport_entityId,airport_name
0,spain,Madrid,27544850,MAD,95565077,Madrid
1,spain,Barcelona,27548283,BCN,95565085,Barcelona
2,spain,Port Of Spain,27546011,POS,104120358,Port Of Spain
3,spain,Málaga,27547484,AGP,95565095,Malaga
4,spain,Seville,27547022,SVQ,95565089,Seville

In [430]:
os.makedirs("../data/airport_codes/transformed/",exist_ok=True)

In [431]:
airports.rename(columns={"city":"city_name"},inplace=True)

In [432]:
airports.columns = [column.lower() for column in airports.columns]

In [433]:
airports[["city_name","airport_name"]] = airports[["city_name","airport_name"]].applymap(lambda x: unidecode(x.lower()))

C:\Users\Miguel\AppData\Local\Temp\ipykernel_20380\1956444939.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  airports[["city_name","airport_name"]] = airports[["city_name","airport_name"]].applymap(lambda x: unidecode(x.lower()))

In [434]:
airports.to_parquet("../data/airport_codes/transformed/countries_airports.parquet")

## 2.1 Flights

In [435]:
itineraries = pd.read_parquet("../data/flights/itineraries.parquet")
itineraries.info()
itineraries.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   itinerary_id                  341 non-null    object
 1   query_date                    341 non-null    datetime64[ns]
 2   score                         341 non-null    float64
 3   duration                      341 non-null    int64
 4   price                         341 non-null    int64
 5   price_currency                341 non-null    object
 6   stops                         341 non-null    int64
 7   departure                     341 non-null    datetime64[ns]
 8   arrival                       341 non-null    datetime64[ns]
 9   company                       341 non-null    object
 10  self_transfer                 341 non-null    bool
 11  fare_is_change_allowed        341 non-null    bool
 12  fare_is_partially_changeable  341 non-null    bool
 13  fare_is_cancellation_allowed  341 non-null    bool
 14  fare_is_partially_refundable  341 non-null    bool
 15  origin_airport                341 non-null    object
 16  destination_airport           341 non-null    object
 17  origin_airport_code           341 non-null    object
 18  destination_airport_code      341 non-null    object
 19  origin_airport_entityid       341 non-null    object
 20  destination_airport_entityid  341 non-null    object
dtypes: bool(5), datetime64[ns](3), float64(1), int64(3), object(9)
memory usage: 44.4+ KB

,itinerary_id,query_date,score,duration,price,price_currency,stops,departure,arrival,company,...,fare_is_change_allowed,fare_is_partially_changeable,fare_is_cancellation_allowed,fare_is_partially_refundable,origin_airport,destination_airport,origin_airport_code,destination_airport_code,origin_airport_entityid,destination_airport_entityid
0,9772-2411031955--32222-0-13870-2411032120,2024-11-03 16:45:48.489825,0.999000,85,164,€,0,2024-11-03 19:55:00,2024-11-03 21:20:00,Iberia,...,False,False,False,False,Barcelona,Madrid,BCN,MAD,95565085,95565077
1,9772-2411031625--31685-0-13870-2411031745,2024-11-03 16:45:48.491871,0.784844,80,175,€,0,2024-11-03 16:25:00,2024-11-03 17:45:00,Vueling Airlines,...,False,False,False,False,Barcelona,Madrid,BCN,MAD,95565085,95565077
2,9772-2411031800--32222-0-13870-2411031925,2024-11-03 16:45:48.493592,0.533734,85,234,€,0,2024-11-03 18:00:00,2024-11-03 19:25:00,Iberia,...,False,False,False,False,Barcelona,Madrid,BCN,MAD,95565085,95565077
3,9772-2411032105--32222-0-13870-2411032230,2024-11-03 16:45:48.493891,0.382849,85,175,€,0,2024-11-03 21:05:00,2024-11-03 22:30:00,Iberia,...,False,False,False,False,Barcelona,Madrid,BCN,MAD,95565085,95565077
4,9772-2411031625--32222-0-13870-2411031745,2024-11-03 16:45:48.495897,0.375225,80,359,€,0,2024-11-03 16:25:00,2024-11-03 17:45:00,Iberia,...,False,False,False,False,Barcelona,Madrid,BCN,MAD,95565085,95565077

Apparently, all data types and values come out correctly from the Air Scraper API. Something that is missing and would have to be provided to the user would be the suggested url to get the flights.

## 2.2 Accommodations

In [436]:
booking_df = pd.read_parquet("../data/accommodations/booking.parquet")
booking_df.info()
booking_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   query_date               233 non-null    datetime64[ns]
 1   city                     233 non-null    object
 2   checkin                  233 non-null    object
 3   checkout                 233 non-null    object
 4   n_adults_search          233 non-null    object
 5   n_children_search        233 non-null    object
 6   n_rooms_search           233 non-null    object
 7   name                     233 non-null    object
 8   url                      233 non-null    object
 9   price_currency           233 non-null    object
 10  total_price_amount       233 non-null    object
 11  distance_city_center_km  233 non-null    object
 12  score                    223 non-null    object
 13  n_comments               223 non-null    object
 14  close_to_metro           233 non-null    object
 15  sustainability_cert      233 non-null    object
 16  room_type                233 non-null    object
 17  double_bed               233 non-null    object
 18  single_bed               233 non-null    object
 19  free_cancellation        233 non-null    object
 20  breakfast_included       233 non-null    object
 21  pay_at_hotel             233 non-null    object
 22  location_score           55 non-null     object
 23  free_taxi                233 non-null    object
dtypes: datetime64[ns](1), object(23)
memory usage: 43.8+ KB

,query_date,city,checkin,checkout,n_adults_search,n_children_search,n_rooms_search,name,url,price_currency,...,close_to_metro,sustainability_cert,room_type,double_bed,single_bed,free_cancellation,breakfast_included,pay_at_hotel,location_score,free_taxi
0,2024-11-03 12:39:39.962865,barcelona,2024-11-08,2024-11-10,2,0,1,Pensión 45,https://www.booking.com/hotel/es/pension-45.es...,€,...,Yes,No,Habitación Doble,Yes,No,No,No,No,None,No
1,2024-11-03 12:39:39.965792,barcelona,2024-11-08,2024-11-10,2,0,1,Nice and comfortable room for your stay in BCN,https://www.booking.com/hotel/es/nice-and-comf...,€,...,Yes,No,Habitación Doble Económica,Yes,No,No,No,No,10,No
2,2024-11-03 12:39:39.967792,barcelona,2024-11-08,2024-11-10,2,0,1,Travelodge Barcelona Poblenou,https://www.booking.com/hotel/es/travelodge-ba...,€,...,Yes,No,Habitación Doble,Yes,No,No,No,No,None,No
3,2024-11-03 12:39:39.970791,barcelona,2024-11-08,2024-11-10,2,0,1,Hotel Derby,https://www.booking.com/hotel/es/derby.es.html...,€,...,Yes,No,Habitación (1 o 2 adultos) - 1 o 2 camas,Yes,Yes,No,No,No,None,No
4,2024-11-03 12:39:39.975548,barcelona,2024-11-08,2024-11-10,2,0,1,Hostal Benidorm,https://www.booking.com/hotel/es/hostal-benido...,€,...,Yes,No,Habitación Doble,Yes,No,No,No,No,9.5,No

Convert checkin and checkout to datetime

In [437]:
booking_df[["checkin","checkout"]] = booking_df[["checkin","checkout"]].astype("datetime64[ns]")

In [438]:
booking_df["room_type"].value_counts()[:20]

room_type
Habitación Doble con baño compartido                                      23
Cama en habitación compartida mixta de 10 camas                           18
Habitación Doble - 2 camas                                                15
Habitación Doble                                                          12
Habitación Doble - 1 o 2 camas                                             8
Habitación Doble con baño compartido - 2 camas                             7
Cama en habitación compartida mixta de 8 camas                             6
Cama en habitación compartida mixta de 6 camas                             6
Habitación Doble Económica                                                 6
Habitación Doble Estándar con baño compartido                              5
Cama en habitación compartida de 8 camas                                   5
Habitación Doble con baño privado - 2 camas                                4
Habitación Doble Superior                                                  4
Litera en dormitorio compartido mixto (6 adultos)                          3
Apartamento de 1 dormitorio                                                3
Cama en habitación compartida mixta - 12 camas                             3
Cama en habitación compartida mixta con 12 camas y baño compartido\n\n     3
Habitación Familiar con baño privado                                       2
Apartamento de 2 dormitorios                                               2
Habitación Cuádruple Clásica                                               2
Name: count, dtype: int64

Standardize room types

In [439]:
conditions = [
    booking_df["room_type"].str.startswith("Apartamento"),
    booking_df["room_type"].str.startswith("Cama en habitacion compartida"),
    booking_df["room_type"].str.startswith("Habitacion Doble Superior"),
    booking_df["room_type"].str.startswith("Habitacion Doble")
]

choices = [
    "Apartamento",
    booking_df["room_type"],  # keeps the original value for "Cama en habitacion compartida"
    "Habitacion Doble Superior",
    "Habitacion Doble"
]


booking_df["standardized_room_type"] = np.select(conditions, choices, default=booking_df["room_type"])

Apartamento
Cama en habitacion compartida
Habitacion Doble Superior
Habitacion Doble

In [440]:
booking_df["shared_bathroom"] = np.where(booking_df["room_type"].str.contains("baño compartido"),"Yes","No")

Add separate info about balcony

In [441]:
booking_df["balcony"] = np.where(booking_df["room_type"].str.contains("balcón"),"Yes","No")

In [442]:
booking_df["sustainability_cert"].value_counts()

sustainability_cert
No     213
Yes     20
Name: count, dtype: int64

In [443]:
booking_df["free_cancellation"].value_counts()

free_cancellation
No     209
Yes     24
Name: count, dtype: int64

In [444]:
booking_df["breakfast_included"].value_counts()

breakfast_included
No     209
Yes     24
Name: count, dtype: int64

Total price per night

In [445]:
booking_df["price_night"] = booking_df["total_price_amount"].astype(int) / (booking_df["checkout"] - booking_df["checkin"]).dt.days

In [446]:
booking_df["price_night"]

0       86.0
1       74.0
2      118.5
3      136.0
4      142.0
       ...
228     73.0
229     71.5
230     84.5
231    129.0
232     72.5
Name: price_night, Length: 233, dtype: float64

In [447]:
booking_df["distance_city_center_km"] = booking_df["distance_city_center_km"].astype(float)

In [448]:
booking_df["distance_city_center_km"] = np.where(booking_df["distance_city_center_km"] > 10, booking_df["distance_city_center_km"]/1000, booking_df["distance_city_center_km"])

## 2.3 Activities

In [449]:
activities_df = pd.read_parquet("../data/activities/90_day_availability.parquet")

In [450]:
activities_df

,query_date,city,activity_date_range_start,activity_date_range_end,activity_name,description,url,image,image2,available_days,available_times,duration,latitude,longitude,price,currency,category,spanish
0,2024-11-03 12:47:29.458558,barcelona,2024-11-28,2024-12-04,Tour privado por Barcelona ¡Tú eliges!,Reservando nuestra visita privada tendréis un ...,www.civitatis.com/es/barcelona/tour-privado-ba...,www.civitatis.com/f/espana/barcelona/tour-priv...,None,"[30, 29, 02, 03, 01, 28, 04]","[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",2h 30m -5h,0,0,40.00,EUR,Visitas guiadas y free tours,Español
1,2024-11-03 12:47:29.464586,barcelona,2024-11-28,2024-12-04,Excursión a Montserrat + Visita a una bodega,En esta excursión a Montserrat no solo disfrut...,www.civitatis.com/es/barcelona/tour-tapas-vino...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/tour-tapa...,"[04, 30, 28, 03, 02, 01, 29]","[[8:45], [8:45], [8:45], [8:45], [8:45], [8:45...",7h 30m,41.3940236912484,2.181866082214644,19.98,EUR,Gastronomía y enoturismo,Español
2,2024-11-03 12:47:29.468587,barcelona,2024-11-28,2024-12-04,Paseo en catamarán al atardecer con música en ...,Contempla el skyline de Barcelona mientras dis...,www.civitatis.com/es/barcelona/paseo-catamaran...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/paseo-cat...,"[30, 29, 01, 04, 28, 02, 03]","[[16:30], [16:30], [16:30], [16:30], [16:30], ...",1h 30m,41.37495867288118,2.17849589524371,7.65,EUR,Paseos en barco,Español
3,2024-11-03 12:47:29.472608,barcelona,2024-11-28,2024-12-04,Free tour por el Parque Güell,En este free tour por el Parque Güell conocere...,www.civitatis.com/es/barcelona/free-tour-parqu...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/free-tour...,"[03, 29, 28, 02, 04]","[[11:30], [11:30], [11:30], [11:30], [9:30, 11...",1h 30m,41.41508351,2.154768947,2.00,EUR,Visitas guiadas y free tours,Español
4,2024-11-03 12:47:29.476617,barcelona,2024-11-28,2024-12-04,Teleférico de Montjuïc,Con esta entrada al Teleférico de Montjuïc pod...,www.civitatis.com/es/barcelona/billete-telefer...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/billete-t...,"[04, 29, 28, 30, 01, 03, 02]","[[10:00], [10:00], [10:00], [10:00], [10:00], ...",None,41.368762,2.163434,3.20,EUR,Entradas,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,2024-11-03 12:47:29.615915,barcelona,2024-12-04,2024-12-10,Tour de los misterios y leyendas de Barcelona,En esta ruta nocturna por Barcelona descubrire...,www.civitatis.com/es/barcelona/tour-misterios-...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/tour-mist...,None,None,1h 30m,41.387471,2.172001,4.20,EUR,Visitas guiadas y free tours,Español
270,2024-11-03 12:47:29.616916,barcelona,2024-12-04,2024-12-10,Entrada al Spotify Camp Nou,Si queréis visitar el estadio del Fútbol Club ...,www.civitatis.com/es/barcelona/camp-nou-experi...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/camp-nou-...,None,None,1h 30m,41.380053,2.121457,2.91,EUR,Entradas,Español
271,2024-11-03 12:47:29.617916,barcelona,2024-12-04,2024-12-10,Free tour de los misterios y leyendas del Barr...,Acompañadnos en este free tour por Barcelona e...,www.civitatis.com/es/barcelona/free-tour-miste...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/free-tour...,None,None,2 horas,41.3838057,2.1757634,2.00,EUR,Visitas guiadas y free tours,Español
272,2024-11-03 12:47:29.618916,barcelona,2024-12-04,2024-12-10,"Excursión a Gerona, Figueras y Museo Dalí",En esta excursión a Gerona y Figueras conocere...,www.civitatis.com/es/barcelona/excursion-museo...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/excursion...,None,None,9h - 10h 45m,41.3940811,2.1826233,23.70,EUR,Excursiones de un día,Español
273,2024-11-03 12:47:29.619921,barcelona,2024-12-04,2024-12-10,Entrada a La Pedrera,Adentraos en el mundo arquitectónico de Gaudí ...,www.civitatis.com/es/barcelona/entrada-la-pedr...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/entrada-l...,None,None,1h 30m,41.395187,2.161758,4.00,EUR,Entradas,Español

### 2.3.1 Cleaning neccessary

1. Remove duplicates
2. Keep only the good image: The second if it has 2, otherwise the first.
3. Take unique, non null and non zero latitudes and longitudes, to convert to address.
4. Format the available dates and times

Careful as some non-available times might mean they do not apply, i.e. tickets.

##### 2.3.1.1 Remove duplicates

By activity_name and activity_date_range_start

In [451]:
activities_df[activities_df.duplicated(subset=["activity_date_range_start","activity_name"],keep=False)].sort_values(by="activity_name").head()

,query_date,city,activity_date_range_start,activity_date_range_end,activity_name,description,url,image,image2,available_days,available_times,duration,latitude,longitude,price,currency,category,spanish
100,2024-11-03 12:47:29.072592,barcelona,2024-11-28,2024-12-04,Barcelona Card Express,Con la tarjeta Barcelona Card Express obtendrá...,www.civitatis.com/es/barcelona/barcelona-card-...,www.civitatis.com/f/espana/barcelona/barcelona...,None,"[29, 28, 04, 30, 01, 02, 03]","[[0:00], [0:00], [0:00], [0:00], [0:00], [0:00...",2 días,0,0,5.40,EUR,Entradas,None
109,2024-11-03 12:47:29.169355,barcelona,2024-11-28,2024-12-04,Barcelona Card Express,Con la tarjeta Barcelona Card Express obtendrá...,www.civitatis.com/es/barcelona/barcelona-card-...,www.civitatis.com/f/espana/barcelona/barcelona...,None,"[28, 30, 03, 04, 29, 01, 02]","[[0:00], [0:00], [0:00], [0:00], [0:00], [0:00...",2 días,0,0,5.40,EUR,Entradas,None
245,2024-11-03 12:47:29.544854,barcelona,2024-12-04,2024-12-10,Espectáculo flamenco en el Tablao El Duende,Asistiendo a un espectáculo flamenco en el Tab...,www.civitatis.com/es/barcelona/espectaculo-fla...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/espectacu...,"[06, 10, 08, 09, 04, 05, 07]","[[19:00, 20:15], [19:00, 20:15], [19:00, 20:15...",50 minutos,41.3789078,2.1747321,6.75,EUR,Espectáculos,None
117,2024-11-03 12:47:29.273398,barcelona,2024-11-28,2024-12-04,Espectáculo flamenco en el Tablao El Duende,Asistiendo a un espectáculo flamenco en el Tab...,www.civitatis.com/es/barcelona/espectaculo-fla...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/espectacu...,"[29, 02, 28, 03, 04, 01, 30]","[[19:00, 20:15], [19:00, 20:15], [19:00, 20:15...",50 minutos,41.3789078,2.1747321,6.75,EUR,Espectáculos,None
108,2024-11-03 12:47:29.108767,barcelona,2024-11-28,2024-12-04,Espectáculo flamenco en el Tablao El Duende,Asistiendo a un espectáculo flamenco en el Tab...,www.civitatis.com/es/barcelona/espectaculo-fla...,"www.civitatis.comdata:image/gif;base64,R0lGODl...",www.civitatis.com/f/espana/barcelona/espectacu...,"[01, 02, 29, 03, 28, 04, 30]","[[19:00, 20:15], [19:00, 20:15], [19:00, 20:15...",50 minutos,41.3789078,2.1747321,6.75,EUR,Espectáculos,None

In [452]:
activities_df.drop_duplicates(subset=["activity_date_range_start","activity_name"], inplace=True)

#### 2.3.1.2 Keep only the good image: The second if it has 2, otherwise the first.

In [453]:
activities_df["image"] = np.where(~activities_df["image2"].isna(), activities_df["image2"], activities_df["image"])
activities_df.drop(columns="image2",inplace=True)

In [454]:
activities_df.head()

,query_date,city,activity_date_range_start,activity_date_range_end,activity_name,description,url,image,available_days,available_times,duration,latitude,longitude,price,currency,category,spanish
0,2024-11-03 12:47:29.458558,barcelona,2024-11-28,2024-12-04,Tour privado por Barcelona ¡Tú eliges!,Reservando nuestra visita privada tendréis un ...,www.civitatis.com/es/barcelona/tour-privado-ba...,www.civitatis.com/f/espana/barcelona/tour-priv...,"[30, 29, 02, 03, 01, 28, 04]","[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",2h 30m -5h,0,0,40.00,EUR,Visitas guiadas y free tours,Español
1,2024-11-03 12:47:29.464586,barcelona,2024-11-28,2024-12-04,Excursión a Montserrat + Visita a una bodega,En esta excursión a Montserrat no solo disfrut...,www.civitatis.com/es/barcelona/tour-tapas-vino...,www.civitatis.com/f/espana/barcelona/tour-tapa...,"[04, 30, 28, 03, 02, 01, 29]","[[8:45], [8:45], [8:45], [8:45], [8:45], [8:45...",7h 30m,41.3940236912484,2.181866082214644,19.98,EUR,Gastronomía y enoturismo,Español
2,2024-11-03 12:47:29.468587,barcelona,2024-11-28,2024-12-04,Paseo en catamarán al atardecer con música en ...,Contempla el skyline de Barcelona mientras dis...,www.civitatis.com/es/barcelona/paseo-catamaran...,www.civitatis.com/f/espana/barcelona/paseo-cat...,"[30, 29, 01, 04, 28, 02, 03]","[[16:30], [16:30], [16:30], [16:30], [16:30], ...",1h 30m,41.37495867288118,2.17849589524371,7.65,EUR,Paseos en barco,Español
3,2024-11-03 12:47:29.472608,barcelona,2024-11-28,2024-12-04,Free tour por el Parque Güell,En este free tour por el Parque Güell conocere...,www.civitatis.com/es/barcelona/free-tour-parqu...,www.civitatis.com/f/espana/barcelona/free-tour...,"[03, 29, 28, 02, 04]","[[11:30], [11:30], [11:30], [11:30], [9:30, 11...",1h 30m,41.41508351,2.154768947,2.00,EUR,Visitas guiadas y free tours,Español
4,2024-11-03 12:47:29.476617,barcelona,2024-11-28,2024-12-04,Teleférico de Montjuïc,Con esta entrada al Teleférico de Montjuïc pod...,www.civitatis.com/es/barcelona/billete-telefer...,www.civitatis.com/f/espana/barcelona/billete-t...,"[04, 29, 28, 30, 01, 03, 02]","[[10:00], [10:00], [10:00], [10:00], [10:00], ...",None,41.368762,2.163434,3.20,EUR,Entradas,None

#### 2.3.1.3 Take unique, non null and non zero latitudes and longitudes, to convert to address.

In [455]:
from dotenv import load_dotenv
import os 
load_dotenv()

True

In [456]:
GOOGLE_API_KEY = os.getenv("GOOGLE_API_KEY")

In [457]:
import aiohttp
import asyncio

async def get_address(lat: float, lon: float, api_key: str) -> str:
    url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lon}&key={api_key}"
    
    async with aiohttp.ClientSession() as session:
        async with session.get(url) as response:
            data = await response.json()
            
            if data.get("status") == "OK":
                address = data["results"][0]["formatted_address"]
                return address
            else:
                return "Address not found"

# Example usage
async def get_adresses_async(lat_lon_df):
    api_key = GOOGLE_API_KEY
    lat_lon_tasks = [get_address(lat, lon, api_key) for lat, lon in lat_lon_df.itertuples(index=False, name=None)]
    addresses = await asyncio.gather(*lat_lon_tasks)
    return addresses

In [458]:
not_nan = activities_df[["latitude", "longitude"]].notna().all(axis=1)
unique_combinations = activities_df.loc[not_nan,["latitude","longitude"]].drop_duplicates()

In [459]:
unique_combinations["address"] = await get_adresses_async(unique_combinations[["latitude", "longitude"]])

In [460]:
unique_combinations["lat_lon"] = list(zip(unique_combinations.latitude, unique_combinations.longitude))
activities_df["lat_lon"] = list(zip(activities_df.latitude, activities_df.longitude))

In [461]:
unique_combinations["address"] = await get_adresses_async(unique_combinations[["latitude", "longitude"]])

In [462]:
lat_lon_to_address_ampping = dict(zip(unique_combinations["lat_lon"], unique_combinations["address"]))

In [463]:
activities_df["address"] = activities_df["lat_lon"].map(lat_lon_to_address_ampping)
activities_df.drop(columns="lat_lon",inplace=True)

In [464]:
activities_df.head(5)

,query_date,city,activity_date_range_start,activity_date_range_end,activity_name,description,url,image,available_days,available_times,duration,latitude,longitude,price,currency,category,spanish,address
0,2024-11-03 12:47:29.458558,barcelona,2024-11-28,2024-12-04,Tour privado por Barcelona ¡Tú eliges!,Reservando nuestra visita privada tendréis un ...,www.civitatis.com/es/barcelona/tour-privado-ba...,www.civitatis.com/f/espana/barcelona/tour-priv...,"[30, 29, 02, 03, 01, 28, 04]","[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",2h 30m -5h,0,0,40.00,EUR,Visitas guiadas y free tours,Español,Address not found
1,2024-11-03 12:47:29.464586,barcelona,2024-11-28,2024-12-04,Excursión a Montserrat + Visita a una bodega,En esta excursión a Montserrat no solo disfrut...,www.civitatis.com/es/barcelona/tour-tapas-vino...,www.civitatis.com/f/espana/barcelona/tour-tapa...,"[04, 30, 28, 03, 02, 01, 29]","[[8:45], [8:45], [8:45], [8:45], [8:45], [8:45...",7h 30m,41.3940236912484,2.181866082214644,19.98,EUR,Gastronomía y enoturismo,Español,"Barcelona (Bus Terminal Nord), Eixample, 08013..."
2,2024-11-03 12:47:29.468587,barcelona,2024-11-28,2024-12-04,Paseo en catamarán al atardecer con música en ...,Contempla el skyline de Barcelona mientras dis...,www.civitatis.com/es/barcelona/paseo-catamaran...,www.civitatis.com/f/espana/barcelona/paseo-cat...,"[30, 29, 01, 04, 28, 02, 03]","[[16:30], [16:30], [16:30], [16:30], [16:30], ...",1h 30m,41.37495867288118,2.17849589524371,7.65,EUR,Paseos en barco,Español,"Moll de les Drassanes, 3P, Ciutat Vella, 08039..."
3,2024-11-03 12:47:29.472608,barcelona,2024-11-28,2024-12-04,Free tour por el Parque Güell,En este free tour por el Parque Güell conocere...,www.civitatis.com/es/barcelona/free-tour-parqu...,www.civitatis.com/f/espana/barcelona/free-tour...,"[03, 29, 28, 02, 04]","[[11:30], [11:30], [11:30], [11:30], [9:30, 11...",1h 30m,41.41508351,2.154768947,2.00,EUR,Visitas guiadas y free tours,Español,"Ctra. del Carmel, 23, Horta-Guinardó, 08024 Ba..."
4,2024-11-03 12:47:29.476617,barcelona,2024-11-28,2024-12-04,Teleférico de Montjuïc,Con esta entrada al Teleférico de Montjuïc pod...,www.civitatis.com/es/barcelona/billete-telefer...,www.civitatis.com/f/espana/barcelona/billete-t...,"[04, 29, 28, 30, 01, 03, 02]","[[10:00], [10:00], [10:00], [10:00], [10:00], ...",None,41.368762,2.163434,3.20,EUR,Entradas,None,"Avinguda Miramar, 30, Sants-Montjuïc, 08038 Ba..."

#### 2.3.1.4 Format the available dates and times

Available dates and times for each activity will have to go to another table to ensure database normalisation. To do that, it will be necessary to explode the df twice. 

Then, to complete the date of availability, some rules for transformation have to be established:

In [465]:
availability_activities = activities_df[["available_days","query_date","available_times","city","activity_name","activity_date_range_start","activity_date_range_end"]]
availability_activities["paired"] = availability_activities[["available_days","available_times"]].fillna("-").apply(lambda x: list(zip(x["available_days"], x["available_times"])), axis=1)

C:\Users\Miguel\AppData\Local\Temp\ipykernel_20380\3535378416.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_activities["paired"] = availability_activities[["available_days","available_times"]].fillna("-").apply(lambda x: list(zip(x["available_days"], x["available_times"])), axis=1)

In [466]:
availability_activities = availability_activities.explode("paired", ignore_index=True) #.drop(columns=["available_days","available_times"])

In [467]:
availability_activities.head()

,available_days,query_date,available_times,city,activity_name,activity_date_range_start,activity_date_range_end,paired
0,"[30, 29, 02, 03, 01, 28, 04]",2024-11-03 12:47:29.458558,"[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,"(30, [9:00, 10:00, 11:00, 12:00, 13:00, 14:00,..."
1,"[30, 29, 02, 03, 01, 28, 04]",2024-11-03 12:47:29.458558,"[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,"(29, [9:00, 10:00, 11:00, 12:00, 13:00, 14:00,..."
2,"[30, 29, 02, 03, 01, 28, 04]",2024-11-03 12:47:29.458558,"[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,"(02, [9:00, 10:00, 11:00, 12:00, 13:00, 14:00,..."
3,"[30, 29, 02, 03, 01, 28, 04]",2024-11-03 12:47:29.458558,"[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,"(03, [9:00, 10:00, 11:00, 12:00, 13:00, 14:00,..."
4,"[30, 29, 02, 03, 01, 28, 04]",2024-11-03 12:47:29.458558,"[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,"(01, [9:00, 10:00, 11:00, 12:00, 13:00, 14:00,..."

Now, there is a table with the

In [468]:
availability_activities[["available_days", "available_times"]] = pd.DataFrame(availability_activities["paired"].tolist(), index=availability_activities.index)
availability_activities = availability_activities.drop(columns="paired")
availability_activities

,available_days,query_date,available_times,city,activity_name,activity_date_range_start,activity_date_range_end
0,30,2024-11-03 12:47:29.458558,"[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:0...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
1,29,2024-11-03 12:47:29.458558,"[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:0...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
2,02,2024-11-03 12:47:29.458558,"[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:0...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
3,03,2024-11-03 12:47:29.458558,"[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:0...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
4,01,2024-11-03 12:47:29.458558,"[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:0...",barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
...,...,...,...,...,...,...,...
1177,-,2024-11-03 12:47:29.615915,-,barcelona,Tour de los misterios y leyendas de Barcelona,2024-12-04,2024-12-10
1178,-,2024-11-03 12:47:29.616916,-,barcelona,Entrada al Spotify Camp Nou,2024-12-04,2024-12-10
1179,-,2024-11-03 12:47:29.617916,-,barcelona,Free tour de los misterios y leyendas del Barr...,2024-12-04,2024-12-10
1180,-,2024-11-03 12:47:29.618916,-,barcelona,"Excursión a Gerona, Figueras y Museo Dalí",2024-12-04,2024-12-10
1181,-,2024-11-03 12:47:29.619921,-,barcelona,Entrada a La Pedrera,2024-12-04,2024-12-10

In [469]:
availability_activities = availability_activities.explode("available_times")
availability_activities

,available_days,query_date,available_times,city,activity_name,activity_date_range_start,activity_date_range_end
0,30,2024-11-03 12:47:29.458558,9:00,barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
0,30,2024-11-03 12:47:29.458558,10:00,barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
0,30,2024-11-03 12:47:29.458558,11:00,barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
0,30,2024-11-03 12:47:29.458558,12:00,barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
0,30,2024-11-03 12:47:29.458558,13:00,barcelona,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04
...,...,...,...,...,...,...,...
1177,-,2024-11-03 12:47:29.615915,-,barcelona,Tour de los misterios y leyendas de Barcelona,2024-12-04,2024-12-10
1178,-,2024-11-03 12:47:29.616916,-,barcelona,Entrada al Spotify Camp Nou,2024-12-04,2024-12-10
1179,-,2024-11-03 12:47:29.617916,-,barcelona,Free tour de los misterios y leyendas del Barr...,2024-12-04,2024-12-10
1180,-,2024-11-03 12:47:29.618916,-,barcelona,"Excursión a Gerona, Figueras y Museo Dalí",2024-12-04,2024-12-10
1181,-,2024-11-03 12:47:29.619921,-,barcelona,Entrada a La Pedrera,2024-12-04,2024-12-10

In [470]:
import datetime

In [471]:
availability_activities["activity_date_range_start"] = pd.to_datetime(availability_activities["activity_date_range_start"])
availability_activities["activity_date_range_end"] = pd.to_datetime(availability_activities["activity_date_range_end"])

availability_activities[["available_days","available_times"]] = availability_activities[["available_days","available_times"]].replace("-",np.nan)

availability_activities["available_times"] = availability_activities["available_times"].apply(lambda x: datetime.datetime.strptime(x, "%H:%M").time() if pd.notna(x) else pd.NaT)


def calculate_adjusted_date(row):
    # return Not a Time if nan
    if pd.isna(row["available_days"]):
        return pd.NaT
    
    # convert from string
    day = int(row["available_days"]) 

    # if available date is bigger than end range, belongs to first month. Else second.
    if day > row["activity_date_range_end"].day:
        return row["activity_date_range_start"].replace(day=day)
    else:
        return row["activity_date_range_end"].replace(day=day)


availability_activities["available_date"] = availability_activities.apply(calculate_adjusted_date, axis=1)

availability_activities.drop(columns="available_days",inplace=True)

In [472]:
availability_activities.dtypes

query_date                   datetime64[ns]
available_times                      object
city                                 object
activity_name                        object
activity_date_range_start    datetime64[ns]
activity_date_range_end      datetime64[ns]
available_date               datetime64[ns]
dtype: object

# 3. Save for data load

## 3.1 Itineraries

In [473]:
import os

In [474]:
os.makedirs("../data/flights/transformed/",exist_ok=True)

In [475]:
itineraries.to_parquet("../data/flights/transformed/itineraries.parquet")

## 3.2 Accommodations

### 3.2.1 Accommodations - booking

In [476]:
os.makedirs("../data/accommodations/transformed/",exist_ok=True)

In [477]:
booking_df.to_parquet("../data/accommodations/transformed/booking.parquet")

## 3.3 Activities

Activities has 2 tables, the activities per se and their available times and dates.

In [478]:
os.makedirs("../data/activities/transformed/",exist_ok=True)

In [479]:
activities_df.to_parquet("../data/activities/transformed/activities.parquet")
availability_activities.to_parquet("../data/activities/transformed/availabilities.parquet")