### 0. Imports

In [13]:
import pandas as pd

# 1. Introduction to this notebook

# 2. Database design

## 2.3 Activities and availability

In [14]:
activities = pd.read_parquet("../data/activities/transformed/activities.parquet")
availabilities = pd.read_parquet("../data/activities/transformed/availabilities.parquet")
activities.head(3)

,query_date,city,activity_date_range_start,activity_date_range_end,activity_name,description,url,image,available_days,available_times,duration,latitude,longitude,price,currency,category,spanish,address
0,2024-11-03 12:47:29.458558,barcelona,2024-11-28,2024-12-04,Tour privado por Barcelona ¡Tú eliges!,Reservando nuestra visita privada tendréis un ...,www.civitatis.com/es/barcelona/tour-privado-ba...,www.civitatis.com/f/espana/barcelona/tour-priv...,"[30, 29, 02, 03, 01, 28, 04]","[[9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:...",2h 30m -5h,0,0,40.00,EUR,Visitas guiadas y free tours,Español,Address not found
1,2024-11-03 12:47:29.464586,barcelona,2024-11-28,2024-12-04,Excursión a Montserrat + Visita a una bodega,En esta excursión a Montserrat no solo disfrut...,www.civitatis.com/es/barcelona/tour-tapas-vino...,www.civitatis.com/f/espana/barcelona/tour-tapa...,"[04, 30, 28, 03, 02, 01, 29]","[[8:45], [8:45], [8:45], [8:45], [8:45], [8:45...",7h 30m,41.3940236912484,2.181866082214644,19.98,EUR,Gastronomía y enoturismo,Español,"Barcelona (Bus Terminal Nord), Eixample, 08013..."
2,2024-11-03 12:47:29.468587,barcelona,2024-11-28,2024-12-04,Paseo en catamarán al atardecer con música en ...,Contempla el skyline de Barcelona mientras dis...,www.civitatis.com/es/barcelona/paseo-catamaran...,www.civitatis.com/f/espana/barcelona/paseo-cat...,"[30, 29, 01, 04, 28, 02, 03]","[[16:30], [16:30], [16:30], [16:30], [16:30], ...",1h 30m,41.37495867288118,2.17849589524371,7.65,EUR,Paseos en barco,Español,"Moll de les Drassanes, 3P, Ciutat Vella, 08039..."

In [15]:
availabilities.head(3)

,available_times,activity_name,activity_date_range_start,activity_date_range_end,available_date
0,09:00:00,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,2024-11-30
0,10:00:00,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,2024-11-30
0,11:00:00,Tour privado por Barcelona ¡Tú eliges!,2024-11-28,2024-12-04,2024-11-30

The activites have persistent information in their name, description, url, image, duration, latitude, longitude, category, spanish (language) and address. Thus, it makes for one single table of the database.

### Activities table

- activity_id PK
- activity_name
- city
- description
- url
- image
- duration
- latitude
- longitude
- category
- spanish
- address

In [16]:
activities_table = activities[["activity_name","city","description","url","image","duration","latitude","longitude","category","spanish","address"]]

Then, there is more time dependant informations about them, which are:
- Available date and time
- Price

Both of these are bound to query time, as prices and availabilities are subject to change, due to possible offers or changes in demand. following the rules of normalisation, they represent 2 separate tables to avoid duplicities in information.

#### Activities_prices

The price_id will be serial.

- price_id PK
- activity_id FK
- query_date
- price
- currency

The table will need the activity name and city to check for the activity_id in the database, and then map the ids to the table to upload it all.

If streamlined, it will have to do that activity by activity.

In [ ]:
activities_prices = activities[["query_date","price","currency"]]

#### Activities_availabilities

Cities